
<h1>Sudoku Page</h1>
<p>This is my Sudoku page.</p>

<h1>Arrays:</h1>

<h1>=========================================================</h1>


<table>
  <caption>Sudoku of the day</caption>
  <colgroup><col><col><col></colgroup>
  <colgroup><col><col><col></colgroup>
  <colgroup><col><col><col></colgroup>
  <tbody>
  <tr> <td><%=  @start_array[0][0] %> <td><%=  @start_array[0][1] %>  <td><%=  @start_array[0][2] %> <td><%=  @start_array[0][3] %> <td><%=  @start_array[0][4] %>  <td><%=  @start_array[0][5] %> <td><%=  @start_array[0][6] %> <td><%=  @start_array[0][7] %>  <td><%=  @start_array[0][8] %>
  <tr> <td>  <td>2 <td>  <td>  <td>9 <td>  <td>  <td>1 <td>
  <tr> <td>7 <td>  <td>  <td>  <td>  <td>  <td>  <td>  <td>6
  <tbody>
  <tr> <td>2 <td>  <td>4 <td>  <td>3 <td>  <td>9 <td>  <td>8
  <tr> <td>  <td>  <td>  <td>  <td>  <td>  <td>  <td>  <td>
  <tr> <td>5 <td>  <td>  <td>9 <td>  <td>7 <td>  <td>  <td>1
  <tbody>
  <tr> <td>6 <td>  <td>  <td>  <td>5 <td>  <td>  <td>  <td>2
  <tr> <td>  <td>  <td>  <td>  <td>7 <td>  <td>  <td>  <td>
  <tr> <td>9 <td>  <td>  <td>8 <td>  <td>2 <td>  <td>  <td>5
</table>


<% @row_num = 0 %>
<table>
  <caption>Sudoku of the day</caption>
  <colgroup><col><col><col></colgroup>
  <colgroup><col><col><col></colgroup>
  <colgroup><col><col><col></colgroup>
  <% @start_array.each do |row| %>
    <% if @row_num %3  == 0%><tbody>
    <% end %>
    <% @row_num += 1 %>
    <tr>
      <% row.each do |element| %>
        <td><%= element %>
      <% end %>

  <% end %>
</table>



<%= button_to 'Заполнить'%>
<%= button_to 'Очистить' %>
<%= button_to 'Решить' %>

